<template>
  <div v-if="!hide" class="rounded-b-lg mx-0 md:mx-9 relative overflow-hidden bg-no-repeat bg-cover" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp'); height: 350px;">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.75)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-6 md:px-12">
          <h1 class="text-5xl font-bold mt-0 mb-6">Testovací web</h1>
          <h3 class="text-3xl font-bold mb-8">Nuxt.js</h3>    
      <AppButton
      type="button"
      btn-style="white"
      @click="$emit('setHide', hide)">Skrýt</AppButton>

        <div class="w-10 mx-auto mt-14">
          <a href="#" v-scroll-to="'#o-mne'"><svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth={2}>
          <path strokeLinecap="round" strokeLinejoin="round" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
          </svg></a>
        </div>

        </div>
      </div>
    </div>
  </div>
        <div v-else-if="hide" class="flex justify-center items-center h-full mt-5">

      <AppButton
      type="button"
      btn-style="black"
      @click="$emit('setHide', hide)">Zobrazit</AppButton>

        </div>
</template>

<script>
import AppButton from "@/components/UI/AppButton";

export default {
  components: {
    AppButton
  },
    props: {
    hide: {
      type: Boolean,
      default: false
    }
  }
}
</script>