<template>
    <div class="container mx-auto px-0 max-w-5xl min-h-screen">
        <div class="text-gray-600 px-10 my-10">
            <h1 id="o-mne" class="leading-tight text-4xl text-center text-gray-800">Kontakt</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-10">
                <div>
                    <h2 class="leading-tight text-2xl text-gray-800 my-4">Adresa</h2>
                    Ulice 456<br/>
                    Praha 1<br/>
                    100 00<br/>
                </div>
                <div>
                    <h2 class="leading-tight text-2xl text-gray-800 my-4">Mapa</h2>
                    <client-only placeholder="Načítání...">
                    <l-map style="height: 300px" :zoom="zoom" :center="center">
                        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                        <l-marker :lat-lng="markerLatLng"></l-marker>
                    </l-map>
                    </client-only>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'KontaktPage',
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      center: [50.0833, 14.4667],
      markerLatLng: [50.0833, 14.4667]
    };
  },
  computed: {
  },
  methods: {
  }
}
</script>
