<template>
<div class="relative flex min-h-screen flex-col justify-center bg-gradient-to-r from-rose-100 to-teal-100">
  <!-- card -->
  <div class="mx-auto flex w-96 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60">
    <!-- img -->
    <img class="aspect-video w-96 rounded-t-2xl object-cover object-center" :src="loadedPost.thumbnail" />
    <!-- text information -->
    <div class="p-4">
      <small class="text-blue-400 text-xs">{{ loadedPost.title }}</small>
      <h1 class="text-2xl font-medium text-slate-600 pb-2">{{ loadedPost.author }}</h1>
      <p class="text-sm tracking-tight font-light text-slate-400 leading-6">{{ loadedPost.content }}</p>
    </div>
      <button @click="GoBack" class="btn btn-blue">
      Zpět
      </button>
      <!-- stejné v-on:click="GoBack" -->
  </div>
</div>
</template>

<script>
export default {
  asyncData(context) {
    return context.app.$axios.$get('/posts/' + context.params.id + '.json')
      .then(data => {
        return {
          loadedPost: data
        }
      })
      .catch(e => context.error(e))
  },
  head: {
    title: 'Detail'
  },
  methods: {
    GoBack() {
      // Navigate back
      this.$router.push("/clanky/");
    }
  }
};
</script>

<style scoped>
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>