<template>
  <button
    class="inline-block px-6 py-2.5 mx-2 border-2 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
    :class="btnStyle"
    v-bind="$attrs"
    v-on="$listeners"><slot /></button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    btnStyle: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.black {
   @apply border-black text-black
}
.white {
   @apply border-white text-white
}
.gray {
   @apply border-gray-700 text-gray-700
}
.none {
   @apply border-none px-0 hover:bg-opacity-0 hover:text-black
}
.active {
   @apply text-blue-600
}
.noCLick {
   @apply border-black text-black cursor-not-allowed cursor-default
}
</style>