<template>
  <div class="container mx-auto px-0 max-w-5xl min-h-screen">
    <Items :itemsContent="loadedItems" :changeButtonText="changeButtonText" @showMore="showMoreItems" :typeList="TypeOfList" @changeType="changeListType" :show-more-text="ShowMoreText"/>
  </div>
</template>

<script>
import Items from "@/components/Items/Items";

export default {
  name: 'ClankyPage',
  components: {
    Items
  },
  data(){
    return {
      hideBanner: false,
      numOfItems: 4,
      TypeOfList: 'grid',
      ShowMoreText: 'Zobrazit další'
    }
  },
  computed: {
    loadedItems() {
      return this.$store.getters.loadedItems.slice(0,this.numOfItems);
    },
    changeButtonText() {
      console.log(this.$store.getters.loadedItems.length + '/' + this.numOfItems)
      if( this.$store.getters.loadedItems.length <= this.numOfItems){
        this.ShowMoreText = 'To je vše';
      }
      else{
        this.ShowMoreText = 'Zobrazit další';
      }
    }
  },
  methods: {
    setHideBanner(hide){
      return this.hideBanner = !hide;
    },
    showMoreItems(){
      console.log(this.numOfItems)
      return this.numOfItems += 4;
    },
    changeListType(type){
      this.TypeOfList = type;
      //console.log(this.TypeOfList)
    }
  }
}
</script>
