<template>
  <div>
    <Header/>
    <nuxt/>
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header/Menu'
import Footer from '@/components/Footer/Footer'

export default {
  components: {
    Header,
    Footer
  }
}
</script>
