<template>
  <div class="container mx-auto px-0 max-w-5xl min-h-screen">
    <Banner :hide="hideBanner" @setHide="setHideBanner"/>

 <div class="text-gray-600 px-10 my-10">
   <h1 id="o-mne" class="leading-tight text-4xl text-center text-gray-800">O mně</h1>
   <div class="rounded-full w-48 mx-auto overflow-hidden my-10"><img class="" src="https://mymodernmet.com/wp/wp-content/uploads/2019/09/100k-ai-faces-6.jpg"></div>   
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam erat volutpat. Aenean id metus id velit ullamcorper pulvinar.</div>
  <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam erat volutpat. Aenean id metus id velit ullamcorper pulvinar.</div>
  <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam erat volutpat. Aenean id metus id velit ullamcorper pulvinar.</div>
  <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam erat volutpat. Aenean id metus id velit ullamcorper pulvinar.</div>
  </div>
</div>
  
  </div>
</template>

<script>
import Banner from "@/components/Banner/Slideshow";
import Items from "@/components/Items/Items";

export default {
  name: 'IndexPage',
  components: {
    Banner,
    Items
  },
  data(){
    return {
      hideBanner: false,
      numOfItems: 4,
      TypeOfList: 'grid',
      ShowMoreText: 'Zobrazit další'
    }
  },
  computed: {
    loadedItems() {
      return this.$store.getters.loadedItems.slice(0,this.numOfItems);
    },
    changeButtonText() {
      console.log(this.$store.getters.loadedItems.length + '/' + this.numOfItems)
      if( this.$store.getters.loadedItems.length <= this.numOfItems){
        this.ShowMoreText = 'To je vše';
      }
      else{
        this.ShowMoreText = 'Zobrazit další';
      }
    }
  },
  methods: {
    setHideBanner(hide){
      return this.hideBanner = !hide;
    },
    showMoreItems(){
      console.log(this.numOfItems)
      return this.numOfItems += 4;
    },
    changeListType(type){
      this.TypeOfList = type;
      //console.log(this.TypeOfList)
    }
  }
}
</script>
