<template>
<div class="w-full xl:w-1/4 md:w-1/2 sm:w-1/1 p-4">

    <nuxt-link :to="LinkToBlog">
        <div class="bg-gray-100 overflow-hidden rounded-lg">
          <div class="relative pb-2/3">
          <img class="absolute h-full w-full object-cover" :src="thumbnail" alt="title">
          </div>
          <div class="p-6">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium">{{title}}</h3>
          <h2 class="text-lg text-gray-900 font-medium mb-4">{{author}}</h2>
          <p class="leading-relaxed text-base">{{content}}</p>
          </div>
        </div>
    </nuxt-link>
    
</div>

</template>

<script>
export default {
  name: 'ItemGrid',
  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    thumbnail: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    }
  },
  computed: {
    LinkToBlog() {
      return '/clanky/' + this.id
    }
  }
}
</script>
