<template>
<div class="relative flex min-h-screen flex-col justify-center bg-gradient-to-r from-rose-100 to-teal-100">
  <!-- card -->
  <div class="mx-auto flex w-96 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60">
    <!-- img -->
    <img class="aspect-video w-96 rounded-t-2xl object-cover object-center" :src="data.featuredImage.list.imageUrl"/>
    <!-- text information -->
    <div class="p-4">
      <small class="text-blue-400 text-xs">{{ data.title }}</small>
      <h1 class="text-2xl font-medium text-slate-600 pb-2">{{ data.author.list.name }}</h1>
      <p class="text-sm tracking-tight font-light text-slate-400 leading-6">{{ data.content.replace(/<[^>]*>?/gm, '') }}</p>
    </div>
      <button @click="GoBack" class="btn btn-blue">
      Zpět
      </button>
      <!-- stejné v-on:click="GoBack" -->
  </div>
</div>
</template>

<script>
import gql from 'graphql-tag';

export default {


async asyncData({app}) {
  const item = await app.apolloProvider.defaultClient.query({
    query: gql`
        query getPost($id: ID!) {
          GQLloadedItems: post(id: $id) {
                id
                title
                content
                slug
                author {
                  list: node {
                    name
                  }
                }
                featuredImage {
                  list: node {
                    imageUrl: mediaItemUrl
                  }
                }
          }
        }`,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
  })
  return { data: item.data.GQLloadedItems }
},
data () {
  return {
    data: {}
  }
}


/*
apollo: {
    GQLloadedItems: {
      query: gql`
        query getPosts($id: ID!) {
          GQLloadedItems: post(id: $id) {
                id
                title
                content
                slug
                author {
                  list: node {
                    name
                  }
                }
                featuredImage {
                  list: node {
                    imageUrl: mediaItemUrl
                  }
                }
          }
        }`,
      variables() {
        return {
          id: 'cG9zdDo4'
        }
      }
    }
  }*/,
  methods: {
    GoBack() {
      // Navigate back
      this.$router.push("/blog/");
    }
  }
};
</script>

<style scoped>
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>