<template>
    <section class="text-gray-600 body-font">
  <div class="container px-5 pt-5 md:pt-24 mx-auto">

    <div class="flex justify-end mr-2">
    <AppButton
      type="button"
      :btn-style="typeList === 'list' ? 'none active' : 'none'"
      @click="$emit('changeType','list')"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 10h16M4 14h16M4 18h16"></path></svg>
      </AppButton>
          <AppButton
      type="button"
      :btn-style="typeList === 'grid' ? 'none active' : 'none'"
      @click="$emit('changeType','grid')"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg></AppButton>
    </div>
    <div v-if="typeList === 'grid'" class="flex flex-wrap -my-4">
        <ItemGrid v-for="item in itemsContent" 
        :key="item.id"
        :id="item.id"
        :thumbnail="item.featuredImage.list.imageUrl"
        :title="item.title"
        :author="item.author.list.name"
        :content="item.content.replace(/<[^>]*>?/gm, '').split(' ').slice(0, 15).join(' ')"
        />
    </div>
    <div v-if="typeList === 'list'" class="flex-wrap -my-4">
        <ItemList v-for="item in itemsContent" 
        :key="item.id"
        :id="item.id"
        :thumbnail="item.featuredImage.list.imageUrl"
        :title="item.title"
        :author="item.author.list.name"
        :content="item.content.replace(/<[^>]*>?/gm, '').split(' ').slice(0, 15).join(' ')"
        />
    </div>

  </div>
  <div class="container px-5 py-10 mx-auto flex justify-center items-center h-full">
    <AppButton
      v-if="showMoreText === 'Zobrazit další'"
      type="button"
      btn-style="gray"
      @click="$emit('showMore')">{{showMoreText}}</AppButton>
      <AppButton
      v-else-if="showMoreText === 'To je vše'"
      type="button"
      btn-style="noClick"
      @click="$emit('showMore')">{{showMoreText}}</AppButton>
    </div>
  
</section>
</template>

<script>
import ItemList from "@/components/GQLItems/ItemList";
import ItemGrid from "@/components/GQLItems/ItemGrid";
import AppButton from "@/components/UI/AppButton"

export default {
  name: 'Items',
  components: { 
    ItemList,
    ItemGrid,
    AppButton
  },
  props: {
    itemsContent: {
      type: Array,
      default: []
    },
    typeList: {
      type: String,
      default: ''
    },
    showMoreText: {
      type: String,
      default: ''
    }
  }  
}
</script>