<template>
<div class="p-4 mx-auto">

    <nuxt-link :to="LinkToBlog">
        <div class="flex bg-gray-100 rounded-lg overflow-hidden items-center">
          <div class="flex-1 w-full">
            <div class="relative pb-2/3 rounded">
              <img class="absolute h-full w-full object-cover" :src="thumbnail" alt="title">
            </div>
          </div>
          <div class="flex-1 w-full bg-gray-100 p-6">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium">{{title}}</h3>
            <h2 class="text-lg text-gray-900 font-medium mb-4">{{author}}</h2>
            <p class="leading-relaxed text-base">{{content}}</p>
          </div>
        </div>
    </nuxt-link>
    
</div>

</template>

<script>
export default {
  name: 'ItemList',
  props: {
    id: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    thumbnail: {
      type: String,
      required: true
    },
    author: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    }
  },
  computed: {
    LinkToBlog() {
      return '/blog/' + this.id
    }
  }
}
</script>
